/* Header */
header{
    /* border: 2px solid red; */
    /* Temporary */
    background-color:#f4f4f4;
}
.container{
    width: 100%;
    /* border: 2px solid blue; */
}

.header-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 30px 8px 30px;
    
}
.header-logo, .header-profile{
    /* border: 2px solid black; */
}
.header-profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 280px;
}
.dark{
    width: 30px;
    height: 30px;
    margin-right: 30px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    outline: none;
}
.dark:hover{
    background-color: lightgrey;
}
.fas.fa-moon{
    font-size: 13px;
}
.profile-pic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: white;
    cursor: pointer;
}
.user-name{
    font-size: 12px;
}
/* .far.fa-user-circle{
    font-size: 30px;
} */
.nav{
    background-color: #fc6719;
}
.nav-table{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 200px 15px 30px;   
}
.header-li{
    list-style-type: none;
}
.nav-link{
    text-decoration: none;
    color: white;
    font-size: 15px;
    opacity: 0.8;
}
.nav-link:hover{
    opacity: 1;
}


@media only screen and (max-width: 992px) {

}
@media only screen and (max-width: 676px) {
    .nav, .header-profile{
        display: none;
    }
}