*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* Header */
header{
    /* border: 2px solid red; */
    /* Temporary */
    margin-bottom: 100px; 
}
.container{
    width: 100%;
    /* border: 2px solid blue; */
}
.header-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px 15px 30px;
    /* border: 2px solid green; */
}
.header-logo, .header-profile{
    /* border: 2px solid black; */
}
.header-profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}
.fas.fa-moon{
    margin-right: 50px;
}
.far.fa-user-circle{
    font-size: 30px;
}
.nav{
    background-color: #fc6719;
}
.nav-table{
    display: flex;
    justify-content: space-between;
    padding: 15px 200px 15px 30px;   
}
.header-li{
    list-style-type: none;
}
.nav-link{
    text-decoration: none;
    color: white;
    font-size: 15px;
    opacity: 0.8;
}
.nav-link:hover{
    opacity: 1;
}


/* Footer */
.footer-items{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 20px;
}
.footer-item{
    /* border: 2px solid green; */
    padding-left:10px;
}
.copyright{
    margin-bottom: 5px;
    color: grey;
    font-size: 15px;
}
.footer-table{
    display: flex;
    justify-content: space-between;
}

.footer-link{
    font-size: 14px;
    margin-right: 25px;
    color: rgb(36, 36, 36);
    text-decoration: none;
    cursor: pointer;
}
.footer-link:hover{
    border-bottom: 1px solid rgb(36, 36, 36);
}
.footer-li{
    list-style-type: none;
}
.footer-platform{
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-social{
    display: flex;
    justify-content: space-between;
}
.fab{
    opacity: 0.8;
    margin-right: 15px;
    font-size: 17px;
    cursor: pointer;
}
.fab:hover{
    opacity: 1;
}
.footer-app{
    margin-left: 20px;
    margin-right: 60px;
}
.footer-language{
    display: flex;
}
.language-flag{
    width: 30px;
    border-radius: 15px;
    margin-right: 10px;
}