*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container.main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color:#f4f4f4;
    /* border: 2px solid green; */
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.main-items{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    
}

.item{
    width: 100%;
    
    background-color: white;
    margin-bottom: 20px;
    
    border-radius: 10px;
    padding: 20px;
}
.amount{
    height: 260px;
    display: flex;
    flex-direction: column;
}
/* .contact{
    height: 220px;
}
.deposit{
    height: 130px;
}
.payments{
    height: 230px;
}
.loyalty{
    height: 130px;
}
.exchange{
    height: 350px;
}
.pension{
    height: 100px;
}
.operation{
    height: 850px;
} */


/* Amount */
.amount-sum{
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 15px;
}
.amount-value{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}
.column-titles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.column-title{
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
}
.account-name{
    display: flex;
    justify-content: space-between;
    width: 180px;
}
.account-text{
    width: 110px;
    font-weight: 500;
    font-size: 13px;
}
.account-row{
    border-top: 1px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}
.account-row:hover{
    background-color: lightgrey;
}
.card{
    width: 50px;
}
.currencys{
    width: 140px;
    display: flex;
    justify-content: space-between;
}
.currency{
    text-align: center;
    width: 30px;
    height: 20px;
    background: none;
    border: 1px solid black;
    border-radius: 12px;
    outline: none;
}
/* Deposit */
.deposit-items{
    display: flex;
    margin-top: 20px;
    align-items: center;
}
.deposit-button{
    background-color:rgb(236, 204, 204);
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}
.fas.fa-money-check{
    color: #fc6719;
    font-size: 20px;
}
.deposit-values{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

/* Loyalty */
.loyalty-items{
    margin-top: 20px;
    display: flex;
}
.loyalty-item{
    display: flex;
    margin-right: 50px;
}
.loyalty-img{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 20px;
    outline: none;
    margin-right: 10px;
}

/* Exchange */
.item.exchange{
    display: flex;
    flex-direction: column;
}
.exchange-name{
    height: 50px;
}
.exchange-number{
    font-weight: 600;
    font-size: 14px;
}
.exchange-titles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.exchange-types{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 45px;
    padding: 15px;
    border-top: 1px solid grey;
}
.exchange-type{
    margin-left: 50px;
}
.exchange-row{
    width: 100%;
    padding: 15px;
    border-top: 1px solid grey;
    height: 65px;
    display: flex;
    justify-content: space-between;
}
.exchange-currency{
    text-align: center;
    width: 50px;
    height: 20px;
    font-size: 15px;
    background-color: lightgrey;
}

/* Pension */
.pension-items{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pension-info{
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pension-title{
    font-size: 15px;
}
.pension-activate{
    font-size: 14px;
    color:#fc6719;
}
.pension-logo{
    width: 60px;
}
/* Contact and Payment*/
.contact-title, .payment-title{
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 15px;
}
.contact-items, .payment-items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact, .payment{
    width: 100px;
    height: 120px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: background-color 0.5s;
    cursor: pointer;
}

.contact:hover, .payment:hover{
    background-color: #d8d8d8;
    border-radius: 20px;
}
.contact-image, .payment-image{
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    border-radius: 30px;
}
.contact-name, .payment-name{
    font-size: 13px;
}
.fas.fa-ellipsis-h{
    color:#fc6719;
}
.more{
    width: 50px;
    height: 50px;
    border-radius: 20px;
    background-color:rgb(236, 204, 204);
    outline: none;
    border: none;
}

/* Operations */
.operation-items{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.operation{
    height: 70px;
    width: 100%;
    padding: 20px 30px 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.5s;
    border-bottom: 1px solid rgb(231, 231, 231);
}
.operation:hover{
    background-color: lightgrey;
    cursor: pointer;
}
.operation-img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.operation-detail{
    margin-left: 10px;
    margin-right: auto;
}
.operation-price{
    margin-right: 10px;
}
.operation-date{
    font-weight: 500;
    font-size: 12px;
}
.operation-place{
    font-weight: 500;
    font-size: 13px;
}
.operation-type{
    font-weight: 500;
    font-size: 12px;
}
.show-more-opers{   
    display: flex;
    margin-top: 20px;
    color:#fc6719;
}
.show-more-title{
    margin-left: 10px;
    font-size: 13px;
}
.fas.fa-ellipsis-v{
    color:grey;
}


@media only screen and (max-width: 1090px) {
    .container.main{
        flex-direction: column;
        align-items: center;
    }
    .main-items{
        align-items: center;
    }
    .item{
        width: 590px;
    }
}
@media only screen and (max-width: 600px) {
    .container{
        width: 100%;
    }
    .main-items{
        width: 100%;
    }
    .item{
        width: 100%;
    }
}
@media only screen and (max-width: 526px) {
    .card, .currencys{
        display: none;
    }
}